@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    /* outline: 1px solid red; */
}

:root {
    font-family: Montserrat, sans-serif;
    color: var(--color-text);
    --color-text: white;
    --color-background: #221E22;
    --color-primary: #4f13aa;
    /* --color-secondary: #e9b3ddc4; */
    --color-secondary: #252325;
    --color-accent: #554172;

}

html, body {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 600px;
    flex-grow: 1;
}

@media (max-width: 700px) {
    .content {
        flex-direction: column;
    }
}

aside {
    flex-basis: 250px;
    background-color: var(--color-secondary);
}

.side-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#add-task {
    all: unset;
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    transition: box-shadow 0.5s;
}

#add-task:hover {
    /* text-decoration: underline; */
    box-shadow: 0 1px 0 #ffffff;
}

.project-bar {
    display: flex;
    justify-content: space-between;
    align-items:  center;
    background-color: var(--color-accent);
    padding: .5rem;
    margin: 1rem 0 1rem 0;
    border-radius: .2rem;
}

#add-project {
    cursor: pointer;
    padding: .2rem;
}

#add-project:hover{
    background-color: var(--color-secondary);
    border-radius: .2rem;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: .5rem;
    transition: background-color .2s;
}


.project-item:hover{
    background-color: rgb(58, 54, 54);

}

#project-remove, #remove-task {
    padding: .2rem;
}

#project-remove:hover, #remove-task:hover {
    box-shadow: 0 1px 0 #ffffff;

}


header {
    background-color: var(--color-primary);
    padding: 1rem;
}

main {
    flex-grow: 3;
    background-color: var(--color-background);
}

.tasks-container {
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.task-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.task-item {
    display: flex;
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: .2rem;
    gap: 1rem;
    cursor: pointer;
}

.task-item:hover {
    outline: 1px solid white;

}

.task-first-line{
    display: flex;
    justify-content: space-between;
}

#task-status {
    border-radius: 1rem;
    background-color: red;
}

.task-title {
    display: flex;
    justify-content: space-between;
}

#high{
    color: red;
}
#medium{
    color: yellow;
}
#low{
    color: green;
}

dialog {
    padding: 2rem;
    border-radius: 6px;
    top: -20%;
    margin: auto;
    width: 180px;
    min-height: 220px;
}

.dialog-top {
    display: flex;
    justify-content: space-between;
}

#close-edit {
    cursor: pointer;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.527);
}

.input-dialog {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

#edit-submit {
    cursor: pointer;
    border: unset;
    background-color: var(--color-primary);
    color: white;
    margin-top: .5rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}